<div class="container md-5" >
    <table class="table table-bordered">
        <thead>
            <th scope="col">Loan Amount</th>
            <th scope="col">Current Balance</th>
            <th scope="col">Applicant</th>
            <th scope="col">Status</th>
        </thead>
        <tbody>
            <tr *ngFor="let loan of loanList">
                <td>{{ loan.amount | currency }} </td>
                <td>{{ loan.currentBalance | currency }}</td>
                <td>{{ loan.applicantName }}</td>
                <td>{{ loan.status }}</td>
                <td>
                    <span class="text-primary" [routerLink]="['edit', loan.id]">Edit</span>
                </td>
                <td>
                    <span class="text-primary" (click)="removeLoan(loan.id)">Delete</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row mt-2">
        <div class="col col-md-4 offset-md-4">
          <a class="btn btn-primary" [routerLink]="['/create']">Create new Loan</a>
        </div>
    </div>
</div>
